:root{
    --color-lightblack: #212427;
    --color-lightgray: #c4cfde;
    --color-blue: #0085d7;
    --white-color: #ffffff;
    --black-color: #000000;
    --box-shadow-input: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    --box-shadow-generic: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
html, body{
    scroll-behavior: smooth;
}
.extra-space-100{
    height: 100px;
}
body{
    font-family: verdana;
    background-color: var(--color-lightblack);
}
*{
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.uppercase{
    text-transform: uppercase !important;
}
.center{
    text-align: center !important;
}
.d-flex{
    display: flex !important;
}
.d-block{
    display: block !important;
}
.d-none{
    display: none !important;
}
.align-items-center{
    display: flex;
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.m-0{
    margin: 0;
}
.m-auto{
    margin: auto;
}
.mt-20{
    margin-top: 20px;
}
.m-block-20{
    margin-block: 20px !important;
}
.m-block-50{
    margin-block: 50px !important;
}
.m-block-40{
    margin-block: 40px !important;
}
.m-block-end-40{
    margin-block-end: 40px;
}
.gap-10{
    gap: 10px;
}
.gap-40{
    gap: 40px;
}
.w-60{
    width: 60% !important;
}
.w-40{
    width: 40% !important;
}
.w-50{
    width: 50% !important;
}
.row{
    display: flex;
    width: 100%;
    min-height: 1px;
}
.column-6{
    width: 50%;
    padding-inline: 0.5rem;
    min-height: 1px;
}
/* Theme Colors */
h1, h2, h3, h4, h5, h6{
    color: var(--white-color);
}
p, a, span, small, li, td,
.banner_links_heading{
    color: var(--color-lightgray);
}
a{
    text-decoration: none;
}
/* Custom Styles */
#back_to_top{
    position: fixed;
    inset-block-end: 20px;
    inset-inline-end: 20px;
    width: 50px;
    height: 50px;
    background-color: lightcoral;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.back_to_top_arrow{
    font-size: 50px;
    height: 40px;
    color: #000000;
    overflow: hidden;
}
/* Header */
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}
ul.nav-items {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
a.nav-item-link {
    text-decoration: none;
    font-size: 20px;
}


/* Banner */
.blue_text{
    color: var(--color-blue);
}
.hero_name_broken_text,
.effectfull_text{
    color: var(--white-color);
}
.banner_links_heading{
    font-weight: lighter;
}
.hero_text_heading {
    font-size: 60px;
    font-family: sans-serif;
    margin-block: 20px;
}
.banner_link {
    box-shadow: -5px -5px 10px -1px rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
    transition: transform .3s ease;
}
.banner_link:hover{
    transform: scale(1.1);
}
#main{
    margin-block-start: 40px;
}
.line{
    background-color: #000000;
    height: 1px;
    border: none;
    width: 100%;
    margin-block: 100px;
}

/* Services single page */
.service-features {
    display: grid;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    gap: 40px;
}
.service-feature {
    background-color: darkblue;
    padding: 20px;
    border-radius: 5px;
}
.page-wrap > .title > .title-heading {
    text-align: center;
    margin-block: 50px;
}
/* Services section */
.section-boxes-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.title.nr-section-main-heading {
    color: var(--color-lightgray);
    font-weight: 900;
    font-size: 60px;
    margin-block-end: 30px;
}
.service-excerpt.para-wrapper p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.5;
}
h2.service-title {
    color: var(--color-lightgray);
    font-weight: 500;
}
.section-box {
    padding: 30px;
    box-shadow: var(--box-shadow-generic);
    border-radius: 15px;
    text-decoration: none;
}
.service-icon-img{
    mix-blend-mode: lighten;
}
.service-arrow-btn {
    opacity: 0;
}
.service-box-inner{
    position: relative;
    top: 20px;
}
.service-box-inner, .service-arrow-btn{
    transition: all .5s ease;
}
.service-box:hover .service-box-inner{
    top: 0;
}
.service-box:hover .service-arrow-btn{
    opacity: 1;
}

/* Portfolio */
.portfolio-box .inner-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio-box .inner-meta-likes {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}
.portfolio-box .inner-meta-likes:hover{
    background-color: #000000;
}
.portfolio-box .inner-img{
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
}
.portfolio-box img.inner-img-element {
    border-radius: 15px;
    transform: scale(1);
    transition: transform .4s ease;
}
.portfolio-box .inner-img:hover img.inner-img-element{
    transform: scale(1.1);
}
.portfolio-box .inner-meta-gallery-link a {
    text-decoration: none;
    color: var(--color-blue);
}
.portfolio-box a.project-title-link {
    overflow: hidden;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-right: 30px;
}
.portfolio-box a.project-title-link .title-heading{
    color: var(--color-lightgray) !important;
    margin: 0;
}
.portfolio-box img.like-icon-img {
    object-fit: none;
}
img.portfolio-arrow-right-img {
    position: absolute;
    right: 20px;
    top: 100%;
    transform: rotate(-45deg);
    transition: all .4s ease;
}
.portfolio-box a.project-title-link:hover .portfolio-arrow-right-img{
    top: 50%;
    right: 0;
    transform: translateY(-30%) rotate(-45deg);
}

/* Model Popup - Portfolio */
div#portfolio-model {
    position: absolute;
    inset: 0;
    background: #212428;
    display: grid;
    place-items: center;
    place-content: center;
}
.model-container {
    width: 90%;
    margin: auto;
}

/* Contact Form */
form.nr-contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
label{
    color: var(--color-lightgray);
    font-size: 12px;
}
.submit_btn{
    font-size: 14px !important;
    padding: 10px !important;
    cursor: pointer;
}
.input,
.submit_btn {
    width: 100%;
    padding: 5px;
    margin-block: 10px;
    font-size: 30px;
    border-radius: 5px;
    background: #191b1e;
    color: var(--color-lightgray);
    border: 2px solid #191b1e;
    box-shadow: var(--box-shadow-input);
}
.group-email,
.group-subject,
.group-message,
.group-submit {
    grid-column: 1 / span 2;
}
.response-message {
    border: 1px solid;
    padding: 5px;
    grid-column: 1 / span 2;
}
.success-message{
    color: green;
    border-color: green;
}
.error-message{
    color: red;
    border-color: red;
}

/* Author */
.contact-body {
    margin-block-start: 50px;
}
.contact-content-wrap {
    display: grid;
    grid-template-columns: calc(40% - 20px) calc(60% - 20px);
    grid-gap: 40px;
}
.author-meta,
.contact-form {
    padding: 30px;
    box-shadow: var(--box-shadow-generic);
    border-radius: 10px;
}
img.author-contact-img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
a.author-link {
    color: var(--white-color);
}
h1.title.author-name {
    margin-block: 30px;
}
.author-desc p,
span.author-contact-prefix {
    margin-block: 30px;
    color: #878e99 !important;
    font-size: 18px !important;
    letter-spacing: 0.5px;
}
.author-social-links {
    margin-block-start: 30px;
}

/* Resume Section */
.resume-tabs-wrap {
	box-shadow: var(--box-shadow-generic);
}
.resume-tab-btn {
	background: no-repeat;
	border: none;
	color: var(--color-lightgray);
	font-size: 25px;
	padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow .3s ease;
}
.resume-tab-btn:hover,
.active-resume-tab .resume-tab-btn{
    box-shadow: var(--box-shadow-generic);
}
.resume-block {
	padding: 45px 40px;
    margin-inline-start: 40px;
	box-shadow: var(--box-shadow-generic);
    background: linear-gradient(145deg, #1e2024, #23272b);
    transition: all .8s ease;
    border-radius: 10px;
}
.resume-block:hover{
    background: var(--color-lightblack);
    transition: all .8s ease;
}
.resume-block .para-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	overflow: hidden;
	-webkit-box-orient: vertical;
    margin: 0;
}
.resume-block .line {
	background-color: rgba(0, 0, 0, 0.4);
	margin-block: 40px;
}
.resume-block:hover .text-block-paragraph-text{
    transition: all .8s ease;
    color: var(--white-color);
}
.resume-blocks,
.resume-block{
    position: relative;
}
.resume-blocks::before,
.resume-block::before,
.resume-block::after{
    content: '';
    display: block;
    position: absolute;
    background-color: #17191C;
}
.resume-blocks::before{
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}
.resume-block::before {
	width: 40px;
	height: 5px;
	top: 30%;
	left: -40px;
}
.resume-block::after{
    width: 10px;
    height: 10px;
    background-color: var(--color-lightblack);
    border: 5px solid #17191C;
    border-radius: 100%;
    top: 30%;
    left: -40px;
    transform: translate(-40%, -40%);
}
.resume-block .blue_dot {
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	background-color: #0085d7;
	border-radius: 100%;
	top: 30%;
	left: -40px;
	transform: translate(-40%, -40%);
	z-index: 111;
	opacity: 0;
	transition: opacity .3s ease;
}
.resume-block:hover .blue_dot{
    opacity: 1;
}